[submodule "rails_active_admin"]
	path = rails_active_admin
	url = https://github.com/IgorCSilva/rails_active_admin
[submodule "simple_ruby"]
	path = simple_ruby
	url = https://github.com/IgorCSilva/simple_ruby
[submodule "ruby_rabbitmq"]
	path = ruby_rabbitmq
	url = https://github.com/IgorCSilva/ruby_rabbitmq
[submodule "rails_devise"]
	path = rails_devise
	url = https://github.com/IgorCSilva/rails_devise
